bin
.vagrant
script/custom-vagrant
demo/*.log
*.swp
*.test
/tmp
/build
go-tuf/client
go-tuf/repo
flynn-discovery/Godeps
flynn-discovery/flynn-discovery
.DS_Store
*.log
sha512_256_binary
go-flynn-example
